<script type="text/javascript">
    window.currentUser = {id:4, username: "leol5", password:"password"}
    <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
                                  user: current_user
                                 ).html_safe %>
  <% end %>
</script>

<main id="root"></main>
