.board-index-all {

}

.board-index-masonry {
  padding-top: 20px;
  margin: 0 auto;
}

.board-index-masonry-ul-li {
  background-color: gray;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
}

.board-index-masonry-item-grid img {
  border-radius: 10px;
  width: 260px;
}
