.modal-pin-item-img {
  width: inherit;
  height: inherit;
  border-radius: 8px;
  background-color: #a5a5af;
  padding: 0 0 0 0; //Will be used to add pin.title later
}

.modal-pin-item-button {
  width: 250px;
  height: auto;
  margin-bottom: 15px;
  padding: 0;
  border-radius: 3px;
}

.modal-pin-item-button:hover {
  opacity: 0.7;
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
