.modal-pin-item-img {
  width: inherit;
  height: inherit;
  border-radius: 8px;
  // background-color: #a5a5af;
  // padding: 0 0 0 0; //Will be used to add pin.title later
}

.modal-pin-item-button {
  width: 250px;
  height: auto;
  margin-bottom: 15px;
  padding: 0;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
  }
}

.modal-pin-show {
  vertical-align: top;
}

.modal-pin-item {
  vertical-align: top;
}
