div .modal-pin-create-button-home {
  display: flex;
  position: fixed;
  z-index: 10;
  right: 35px;
  bottom: 65px;
  width: 45px;
  height: auto;
  box-shadow: 2px 2px 1px 0.5px gray;
  border-radius: 50px;
}

.modal-pin-create-button-home img {
  width: 100%;
  height: 100%;
}

.modal-pin-create-button-home:hover{
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 0 0 2px white,
              0 0 0 4px rgb(159,57,52),
              0 0 0 6px white;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.pin-create-form-all {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
}

.pin-create-form-all h1 {
  font-size: 30px;
  font-family: sans-serif;
  color: white;
}

.modal-pin-create-img-close {
  width: 5%;
  display: block;
  margin-left: 90%;
  margin-bottom: 10px;
}

.modal-pin-create-img-close:hover{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.pin-create-form-dropzone {
  height: 200px;
  width: 300px;
  border: 3px dashed white;
  border-radius: 10px;
  margin: 15px 0 10px 0;
  align-self: center;
  vertical-align: middle;
}

.pin-create-form-dropzone-div {
  vertical-align: middle;
  justify-content: center;
  overflow: hidden;
}

.pin-create-form-dropzone-form {
  display: flex;
  flex-direction: column;
}

.pin-create-form-dropzone-innertext h2 {
  font-family: sans-serif;
  text-align: center;
  color: white;
  margin: 28% auto;
  vertical-align: middle;
}

.pin-create-form-dropzone-image {
  width: 300px;
  max-height: 200px;
  padding: auto;
  overflow: hidden;
}

.pin-create-form-label {
  display: flex;
}

.pin-create-form-label h3 {
  font-family: sans-serif;
  color: white;
  margin: 10px 0 3px 0;
}

.pin-create-form-label input {
  font-size: 14px;
  width: 200%;
  height: 20px;
  border-radius: 4px;
  align-self: baseline;
  align-content: baseline;
}

.pin-create-form-label input[type=textarea] {
  height: 40px;
}

.pin-create-form-dropzone-submit {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 20px;
  background-color: #4CAF50;
  border: 2px solid #015249;
  color: #015249;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.pin-create-form-dropzone-submit:hover {
    background-color: white;
    color: #4CAF50;
}
