.pins-index-form {
  padding-top: 20px;
  margin: 0 auto;
}

.sweet-loading {
  display: flex;
  justify-content: center;
  margin-top: 40vh;
}

.pin-index-pin-items {
  margin-bottom: 8px;
  padding: 7px 7px 2px 7px;
  opacity: 1;
  transform: scale(1);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.pin-index-pin-items:hover {
  background-color: #E3DCD5;
  border-radius: 6px;
  opacity: 0.6;
  transform: scale(0.96);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.pin-index-pin-items:hover .pin-index-pin-items-modal-view {
  opacity: 1;
  transition: opacity .35s ease;
}

.pin-index-pin-items-modal-view {
  position: absolute;
  text-align: center;
  height: inherit;
  width: inherit;
  margin-left: 35%;
  top: 30%;
  font-size: 22px;
  font-family: sans-serif;
  // border: 2px solid #57bc90;
  box-shadow: 0 0 0 2px #57bc90,
              0 0 0 3px rgba(0, 0 ,0, 0),
              0 0 0 4px white;
  padding: 6px;
  border-radius: 4px;
  color: white;
  background-color: #015249;
  pointer-events: none;
  opacity: 0;
  transition: opacity .35s ease;
}

.pin-index-pin-items-info {
  display: flex;
  // flex-flow: column;
  margin-top: -2px;
}

.pin-index-pin-items-info-upper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 240px;
  margin-top: -10px;
  margin-bottom: 5px;
}

.pin-index-pin-items-info-upper p {
  vertical-align: middle;
  padding-top: 8px;
  margin-left: 5px;
  display: inline-block;
  word-wrap: break-word;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 180px;
  color: #6e6e6e;
  font-family: sans-serif;
  font-size: 13px;
  height: 1.6em;
  font-weight: bold;
}

.pin-index-pin-items-info-author {
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.pin-index-pin-items-info-author img {
  border-radius: 50px;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}
//
// .pin-index-pin-items-info-lower {
//   display: flex;
//   flex-flow: row;
//   justify-content: space-around;
//   margin-top: -10px;
//   padding-bottom: 5px;
//   padding-top: 5px;
//   text-decoration: none;
//   border-radius: 4px;
//   border: 2px solid rgba(255,255,255,0);
// }
//
// .pin-index-pin-items-info-lower:hover {
//   border: 2px solid white;
// }
//
// .pin-index-pin-items-info-author-image {
//   width: 30px;
//   height: 30px;
//   overflow: hidden;
// }
//
// .pin-index-pin-items-info-author-image img {
//   border-radius: 50px;
//   object-fit: cover;
//   display: block;
//   width: 100%;
//   height: 100%;
// }
//
// .pin-index-pin-items-info-text {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   margin-left: 10px;
//   width: 120px;
// }
//
// .pin-index-pin-items-info-text h1, p {
//   text-align: left;
//   margin-left: -20px;
// }
//
// .pin-index-pin-items-info-text h1 {
//   font-family: sans-serif;
//   font-size: 16px;
//   color: #3d3d3d;
// }
//
// .pin-index-pin-items-info-text p {
//   font-family: sans-serif;
//   margin-top: 3px;
//   font-size: 13px;
//   color: gray;
//   display: inline-block;
//   word-wrap: break-word;
//   text-align: center;
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   max-width: 240px;
// }
