// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-form-view {
    z-index: 0;
    display: flex;
    justify-content: center;
    background-image: url("http://res.cloudinary.com/leosoba/image/upload/v1501077890/home_main_pkt8he.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 0px 0px;
    animation: animatedBackground 65s linear forwards;
} // the whole sign in form

.session-form-container {
    margin-top: 10vh;
    border-radius: 9px;
    background-color: white;
    display: flex;
    text-align: center;
    width: 360px;
    height: 570px;
} //sign-in box

.session-form-logo-image {
    height: 100% auto;
    position: relative;
    transform-origin: center;
    transform: scale(0.9);
    margin: -55px 0 -5px 0;
    img {
      margin-top: 35px;
      width: 70%;
    }
}

.session-form-slogan h1 {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #555555;
  font-size: 17px;
  font-stretch: extra-condensed;
  width: 250px;
  margin: -30px auto 2px auto;
}

.session-input {
    background-color: rgb(220,220,220);
    border-radius: 4px;
    margin: 5px auto 5px auto;
    border: none;
    width: 280px;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    color: #015249;
    padding-left: 10px;
    }
    ::-webkit-input-placeholder { /* Chrome */
      color: #015249;
      opacity: .6;
      font-weight: 600;
      transition: opacity 250ms ease-in-out;
    }
    :focus::-webkit-input-placeholder {
      opacity: 0.3;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #015249;
      font-weight: 600;
      transition: opacity 250ms ease-in-out;
    }
    :focus:-ms-input-placeholder {
      opacity: 0.5;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #015249;
      font-weight: 600;
      opacity: 1;
      transition: opacity 250ms ease-in-out;
    }
    :focus::-moz-placeholder {
      opacity: 0.5;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
      color: #015249;
      font-weight: 600;
      opacity: 1;
      transition: opacity 250ms ease-in-out;
    }
    :focus:-moz-placeholder {
      opacity: 0.5;
}

.session-form-errors {
    position: relative;
    ul {
      position: absolute;
      width: 360px;
      height: 40px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      li {
        color: red;
        font-size: 15px;
      }
    }
}

.session-credential-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    margin: 30px auto 10px auto;
} // my sign in

.session-form-submit-button {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    padding: 7px;
    border-radius: 3px;
    width: 200px;
    border: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    // background-color:rgb(124,214,181);
    background-color: #015249;
    color: #FFFFFF;
    transition: all 0.5s;
    &:hover {
      background-color: #017366;
      cursor: pointer;
      span {
        padding-right: 35px;
        &:after {
          opacity: 1;
          right: 0;
        }
      }
    }
    span {
      display: inline-block;
      position: relative;
      transition: 0.5s;
      cursor: pointer;
      &:after {
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
        content: '\00bb';
      }
    }
}

.session-form-demo {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  padding: 7px;
  border-radius: 3px;
  width: 100px;
  border: none;
  margin: 0 auto 0 auto;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #015249;
  color: #FFFFFF;
  box-shadow: 0 0 0 2px white,
              0 0 0 3px #015249;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.session-form-message {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    margin-top: 4px;
    // animation: blinker 2s linear infinite;
}

.session-form-nav {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.session-form-nav-link {
    font-size: 15px;
}
