// Place all the styles related to the api/Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.board-index-all {

}

.board-index-masonry {
  padding-top: 20px;
  margin: 0 auto;
  width: 90vw;
}

.modal-board-form-container {
  margin-bottom: 15px;
}

//Board Item
.board-index-masonry-ul-li {

}

//modal_board_form
.modal-board-thumbnail-container {
  display:flex;
  width: 275px;
  height: 250px;
  background-color: rgba(235, 235, 235, 0.7);;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: .8;
    box-shadow: 0 0 3px 2px #a5a5af;
  }
}

.modal-board-thumbnail-container-show {
  display:flex;
  width: 275px;
  height: 250px;
  background-color: rgba(235, 235, 235, 0.7);;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  // box-shadow: 0 0 0 2px $green;
}

.modal-board-thumbnail-container-show div{
  display:flex;
  margin: 2px;
  width: 250px;
  height: 235px;
  background-color: rgba(235, 235, 235, 0.7);;
  // border-radius: 7px;
  align-items: center;
  justify-content: center;
  // box-shadow: 0 0 0 2px $green;
}
