section {

}

section .nav-bar-all {
  height: 64px;
  width: auto;
}

.nav-bar-home-page img {
  width: 60px;
  height: auto;
  padding: 10px;
}

.nav-bar-home-page img:hover {
  background-color: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
  width: 65px;
  height: auto;
}

.nav-bar-search-input {
    width: 20%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #57BC90;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
    background-color: #57BC90;
    background-image: url('http://res.cloudinary.com/leosoba/image/upload/v1500775377/search-icon_kltuo1.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 14px 20px 14px 40px;
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}

.nav-bar-search-input:focus {
    width: 40%;
}

.nav-bar-my-board img {
  height: 55px;
  width: auto;
  padding: 10px;
}

.nav-bar-my-board img:hover {
  background-color: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
  height: 60px;
  width: auto;
}

.nav-bar-log-out img {
  height: 40px;
  width: auto;
  padding: 10px;
}

.nav-bar-log-out img:hover {
  background-color: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
  height: 45px;
  width: auto;
}
