section {
  display: flex;
  padding: 7px 10px 6px 10px;
  height: 78px;
  align-items: center;
  border-bottom: 2px solid #74edbb;
}

section .nav-bar-all {
  height: 64px;
  width: auto;
}

.nav-bar-home-page {
  flex: 1; //.nav-bar-search-input
}

.nav-bar-home-page img {
  width: 80px;
  height: auto;
  padding: 4px 4px 4px 4px;
  margin: 12px 28px 12px 28px;
}

.nav-bar-home-page img:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.nav-bar-home-page img:active {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px #57b38d;
}

input .nav-bar-search-input {
    flex: 2; // .nav-bar-home-page
}

.nav-bar-search-input {
    margin-left: 18px;
    width: 90%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #57BC90;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    background-color: #57BC90;
    background-image: url('http://res.cloudinary.com/leosoba/image/upload/v1500775377/search-icon_kltuo1.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 12px 25px 14px 50px;
    min-width: 120px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}

.nav-bar-discover-ideas {
    flex: 1;
    margin-left: 25px;
}

.nav-bar-discover-ideas p {
    margin: 6px 36px 6px 36px;
    padding: 4px 4px 4px 4px;
    font-family: sans-serif;
    color: #57b38d;
    font-size: 22px;
    text-align: center;
}

.nav-bar-discover-ideas:hover {
  cursor: pointer;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.nav-bar-discover-ideas:active {
  box-shadow: 0 0 0 1px white,
              0 0 0 3px #57b38d;
  border-radius: 5px;
}

.nav-bar-my-board img {
  height: 46px;
  width: auto;
  padding: 10px 10px 10px 10px;
  margin: 4px 20px 0px 20px;
}

.nav-bar-my-board {
  flex: 1;
  margin-left: 25px;
}

.nav-bar-my-board img:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.nav-bar-my-board img:active {
  box-shadow: 0 0 0 1px white,
              0 0 0 3px #57b38d;
}

.nav-bar-log-out {
  flex: 1;
  margin: 0px 20px 0px 20px;
}

.nav-bar-log-out img {
  height: 45px;
  width: auto;
  padding: 10px 10px 10px 10px;
  margin: 0px 20px 0px 20px;
}

.nav-bar-log-out img:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.nav-bar-log-out img:active {
  box-shadow: 0 0 0 1px white,
              0 0 0 3px #57b38d;
}
