// Place all the styles related to the api/searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-bar-search {
    flex: 2; // .nav-bar-home-page
}

.nav-bar-search-input {
    width: 90%;
    min-width: 120px;
    height: 46px;
    box-sizing: border-box;
    border: 1px solid #57BC94;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    background-color: #57BC90;
    background-image: url('http://res.cloudinary.com/leosoba/image/upload/v1500775377/search-icon_kltuo1.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 12px 25px 14px 50px;
}

.search-results-container {
  background-color: rgba(117, 186, 147, 0.9);
  border-radius: 5px;
  position: absolute;
  // display: block;
  width: 75%;
  margin: 2px 0 0 -50px;
  min-width: 120px;
  z-index: 5;
  // padding: 10px;
}

.search-results-container-return {
  display: flex;
  flex-flow: column;

  h3 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    padding: 5px;
  }
  ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    li {
      margin: 4px;
      height: auto;
      justify-content: center;
      align-self: center;
      overflow: hidden;
    }
  }
}


#list-item {
  font-size: 18px;
  color: green;
}

#list-item-user {
  display: inline;
  height: 100px;
  width: 100px;
  border-radius: 60%;
  color: green;
}

#list-item-user img {
  display: inline;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
