// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-form-view {
    z-index: 0;
    display: flex;
    justify-content: center;
    background-image: url("http://res.cloudinary.com/leosoba/image/upload/v1500561725/rt_main_alchemist_qdtwqv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} // the whole sign in form

.session-form-container {
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: 0 0 0 2px #A19A8F,
                5px 5px 10px #888888;
    // background-color: #18B5A6;
    background-color: white;
    display: flex;
    // justify-content: center;
    text-align: center;
    width: 350px;
    height: 550px;
    opacity: 0.9;
    filter: alpha(opacity=90);
} //sign-in box
//height: 100vh
.session-form {

}

.session-form-logo-image {
    margin-top: 25px;
    margin-bottom: -15px;
    height: 100% auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.session-credential-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
} // my sign in

.session-form-logo-image img {
    width: 70%;
    margin: -10px 0px -20px 0px;
}

.session-input {
    margin: 7px;
    width: 55%;
    height: 25px;
    font-size: 13px;
    color: black;
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: pink;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: pink;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: pink;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: pink;
    }
}

label input .session-input[placeholder] {
  color: black;
}

.session-form-submit-button {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    padding: 7px;
    border-radius: 3px;
    width: 150px;
    border: none;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    // background-color:rgb(124,214,181);
    background-color: #015249;
    color: #FFFFFF;
    transition: all 0.5s;
    cursor: pointer;
}

.session-form-submit-button:hover {
    background-color: #017366;
}

.session-form-submit-button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.session-form-submit-button span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    content: '\00bb';
}

.session-form-submit-button:hover span {
    padding-right: 35px;
}

.session-form-submit-button:hover span:after {
    opacity: 1;
    right: 0;
}

button.session-form-demo {
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.session-form-message {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    margin-top: 4px;
}

.session-form-nav {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

.session-form-nav-link {
    margin-top: 20px;
    font-size: 15px;
}

.session-form-errors {
    color: red;
    font-size: 14px;
    position: relative;
}

.session-form-errors span {
  position: absolute;
  margin-top: -20px;
  right: 25%;
  width: 300px;
  margin-right: -60px;
}
